[submodule "Core"]
	path = Core
	url = https://github.com/cakephp/cakephp.git
[submodule "Plugin/ContentManager"]
	path = Plugin/ContentManager
	url = https://github.com/BackEndCoder/ContentManager.git
